version: '3.8'
services:
  app:
    build: .
    env_file:
      - .env
    environment:
      - CHROMA_HOST=chroma
      - OLLAMA_HOST=ollama
    ports:
      - "${APP_PORT}:${APP_PORT}"
    depends_on:
      - chroma
      - ollama
    networks:
      - rag-net

  chroma:
    image: chromadb/chroma
    ports:
      - "${CHROMA_PORT}:${CHROMA_PORT}"
    volumes:
      - chroma-data:/chroma/.chroma/
    networks:
      - rag-net

  ollama:
    image: ollama/ollama
    ports:
      - "${OLLAMA_PORT}:${OLLAMA_PORT}"
    volumes:
      - ollama-data:/root/.ollama
    networks:
      - rag-net

networks:
  rag-net:

volumes:
  ollama-data:
  chroma-data:
